<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!--LOGO ====================================================-->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="45">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <!--MENÚ ====================================================-->
    <div id="scrollbar">
        <div class="container-fluid">            
            <div id="two-column-menu">
            </div>

            <!--MENÚ PLANTILLA-->
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menú</span></li>
                
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index", "Trabajadores")">
                        <i class="ri-user-2-line"></i> <span data-key="t-widgets">Trabajadores</span>
                    </a>
                </li>

                <!-- CAMIONES-->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarCamiones" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarCamiones">
                        <i class="ri-truck-line"></i> <span data-key="t-dashboards">Camiones</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarCamiones">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="@Url.Action("ListadoCamion", "Camiones")" class="nav-link" data-key="t-analytics"> Camiones </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListadoMarcaVehiculo", "MarcasVehiculos")" class="nav-link" data-key="t-analytics"> Mantenedor Marca </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListadoModeloVehiculo", "ModelosVehiculos")" class="nav-link" data-key="t-analytics"> Mantenedor Modelos </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end camiones Menu -->

                <!-- REMOLQUES-->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarRemolques" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarRemolques">
                        <i class="ri-caravan-line"></i> <span data-key="t-dashboards">Remolques</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarRemolques">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="@Url.Action("ListadoRemolque", "Remolques")" class="nav-link" data-key="t-analytics"> Remolques </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListadoMarcaRemolque", "MarcasRemolque")" class="nav-link" data-key="t-analytics"> Mantenedor Marca </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListadoModeloRemolque", "ModelosRemolque")" class="nav-link" data-key="t-analytics"> Mantenedor Modelos </a>
                            </li>                            
                        </ul>
                    </div>
                </li> <!-- end camiones Menu -->

                <!-- COMBUSTIBLES-->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#cargaCombustibles" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarRemolques">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Combustibles</span>
                    </a>
                    <div class="collapse menu-dropdown" id="cargaCombustibles">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="@Url.Action("Index","Combustibles")" class="nav-link" data-key="t-analytics"> Camiones </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "CombustiblesRemolques")" class="nav-link" data-key="t-analytics"> Remolques </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end camiones Menu -->

                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index", "Empresas")">
                        <i class=" ri-registered-line"></i> <span data-key="t-widgets">Empresas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("ListadoCiudades", "Ciudades")">
                        <i class="ri-map-2-line"></i> <span data-key="t-widgets">Ciudades</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("ListadoVueltas", "DetalleVueltas")">
                        <i class=" ri-registered-line"></i> <span data-key="t-widgets">Vueltas</span>
                    </a>
                </li>

                @*<li class="nav-item">
                    <a class="nav-link menu-link" href="/Identity/Account/Register">
                        <i class="ri-account-circle-line"></i> <span data-key="t-widgets">Usuarios</span>
                    </a>
                </li>*@

                <!-- REPORTES-->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#reportes" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarReportes">
                        <i class="ri-stack-line"></i> <span data-key="t-dashboards">Reportes</span>
                    </a>
                    <div class="collapse menu-dropdown" id="reportes">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="@Url.Action("DetalleVuelta","Reportes")" class="nav-link" data-key="t-analytics"> Detalle de Vueltas </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("CalculoSueldos", "Reportes")" class="nav-link" data-key="t-analytics"> Cálculo de Sueldos </a>
                            </li>
                            @*<li class="nav-item">
                                <a href="@Url.Action("RendimientoCamiones", "Reportes")" class="nav-link" data-key="t-analytics"> Rendimiento de Camiones </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("UtilidadEmpresa", "Reportes")" class="nav-link" data-key="t-analytics"> Utilidad empresa </a>
                            </li>*@
                        </ul>
                    </div>
                </li> <!-- end camiones Menu -->
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>