@model IEnumerable<TransportesMR.Models.ModeloVehiculo>
@{
    ViewData["Title"] = "Lista de modelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <h3>Lista de Modelos</h3>
    </div>

    <div class="col-3">
        <a asp-action="Crear" class="btn btn-primary form-control">Crear Modelo</a>
    </div>
</div>

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr>
                <th>@Html.DisplayNameFor(a => a.Modelo)</th>
                <th>@Html.DisplayNameFor(a => a.MarcaVehiculo) </th>
            </tr>

            @foreach (var modelo in Model)
            {
                <tr>
                    <td>@modelo.Modelo</td>
                    <td>@modelo.MarcaVehiculo.Marca</td>
                    <td>
                        <a class="btn btn-primary text-white" asp-action="Editar" asp-route-id="@modelo.IdModelo">Editar</a>
                        <a class="btn btn-danger text-white" asp-action="getBorrar" asp-route-id="@modelo.IdModelo">Borrar</a>

                    </td>

                </tr>
            }

        </table>
    }
    else
    {
        <p>No hay modelos</p>
    }

</div>

