@model IEnumerable<TransportesMR.Models.Trabajador>
@{
    ViewData["Title"] = "Listado de Trabajadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<!-- BARRA SUPERIOR -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Trabajador</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    @*<li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>*@
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">@ViewData["Title"]</h5>
                <div>
                    <a asp-action="CrearTrabajador" class="btn btn-success add-btn">
                        <i class="ri-add-line align-bottom me-1"></i> Crear Trabajador
                    </a>
                </div>
            </div>

            <div class="card-body">
                @if (Model.Count() > 0)
                {
                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id Trabajador</th>
                                <th>Nombre</th>
                                <th>Rut</th>
                                <th>Inicio de Contrato</th>
                                <th>Fin de Contrato</th>
                                <th>Estado</th>
                                <th data-ordering="false">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var trabajador in Model)
                            {
                                <tr>
                                    <td>@trabajador.IdTrabajador</td>
                                    <td>@trabajador.Nombre @trabajador.ApellidoPaterno @trabajador.ApellidoMaterno</td>
                                    <td>@trabajador.Rut</td>
                                    <td>
                                        @if (@trabajador.ContratoInicio != null)
                                        {
                                            @trabajador.ContratoInicio.Value.ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    <td>
                                        @if (@trabajador.ContratoFin != null)
                                        {
                                            @trabajador.ContratoFin.Value.ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    @if (trabajador.Estado == 1)
                                    {
                                        <td>Activo</td>
                                    }
                                    else if (trabajador.Estado == 0)
                                    {
                                        <td>Desactivo</td>
                                    }
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <a class="btn btn-sm btn-primary edit-item-btn" asp-action="ModificarTrabajador" asp-route-id="@trabajador.IdTrabajador">
                                                    <i class="ri-edit-2-line"></i> Modificar
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-secondary" role="alert" style="width:40%">
                        <i class="ri-check-double-line me-3 align-middle fs-16"></i>
                        <strong>Información</strong> - Sin Trabajadores ingresados
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="~/assets/js/pages/datatables.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>

<script type="text/javascript">
    $('#example').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json",
        },
    });
</script>


