@model IEnumerable<TransportesMR.Models.Vueltas>
@{
    ViewData["Title"] = "Lista de Vueltas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string FormatearTotal(decimal total)
    {
        return Math.Abs(total).ToString("N");
    }

}

<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<!-- Layout config Js -->
<script src="~/assets/js/layout.js"></script>
<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
<!-- custom Css-->
<link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

<!-- BARRA SUPERIOR -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Detalle de Vueltas</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    @*<li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>*@
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">@ViewData["Title"]</h4>

            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <a asp-action="CrearVuelta" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i> Ingresar Vuelta</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Buscar...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Count() > 0)
                    {

                        <div class="table-responsive table-card mt-3 mb-1">
                            <table class="table align-middle table-nowrap" id="customerTable">
                                <thead class="table-light">
                                    <tr>
                                        <th class="sort">Salida</th>
                                        <th class="sort">Llegada</th>
                                        <th class="sort">Camión</th>
                                        @*<th class="sort">Remolque</th>*@
                                        <th class="sort">Conductor </th>
                                        <th class="sort">Factura 1</th>
                                        @*<th class="sort">Factura 2</th>*@
                                        @*<th class="sort">Factura 3</th>*@
                                        <th class="sort">Sentido</th>
                                        <th class="sort">Lugar Carga</th>
                                        @*<th class="sort">Lugar Descarga</th>*@
                                        <th class="sort">Valor Viaje</th>
                                        <th class="sort">% Viaje</th>
                                        <th class="sort">Viatico Transf.</th>
                                        <th class="sort">Gasto Viatico</th>
                                        <th class="sort">Total</th>
                                        <th class="sort">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">

                                    @foreach (var vueltas in Model)
                                    {
                                        <tr>

<<<<<<< HEAD
                                            <td>@vueltas.FechaSalida</td>
                                            @*<td>@vueltas.FechaLlegada</td>
=======
>>>>>>> Detalle vueltas

                                            <td>
                                            @if (@vueltas.FechaSalida != null)
                                                {
                                                @vueltas.FechaSalida.Value.ToString("dd/MM/yyyy")
                                                }
                                            </td>
                                            <td>
                                            @if (@vueltas.FechaLlegada != null)
                                            {
                                                @vueltas.FechaLlegada.Value.ToString("dd/MM/yyyy")
                                            }
                                            </td>

                                            <td>@vueltas.IdCamion</td>
                                            @*<td>@vueltas.IdRemolque</td>*@
                                            <td>@vueltas.IdTrabajador</td>
                                            <td>@vueltas.Factura1</td>
                                            @*<td>@vueltas.Factura2</td>*@
                                            @*<td>@vueltas.Factura3</td>*@
                                            <td>@vueltas.Sentido</td>
                                            <td>@vueltas.EmpresaCarga.RazonSocial</td>
                                            @*<td>@vueltas.EmpresaDescarga.RazonSocial</td>*@
                                            <td>@vueltas.ValorViaje</td>
                                            <td>@vueltas.PorcentajeConductor</td>
                                            <td>@vueltas.ViaticoTransferido</td>
                                            <td>@vueltas.ViaticoGastado</td>
                                            <td>$ @FormatearTotal((vueltas.ViaticoTransferido - vueltas.ViaticoGastado))</td>
                                            @*<td>@vueltas.Observacion</td>*@
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">

                                                        <a class="btn btn-sm btn-primary edit-item-btn" asp-action="ModificarVuelta" asp-route-id="@vueltas.IdVueltas">
                                                            <i class="ri-edit-2-line"></i> Modificar
                                                        </a>
                                                        <a class="btn btn-sm btn-danger edit-item-btn" asp-action="BorrarVuelta" asp-route-id="@vueltas.IdVueltas" onclick="return confirm('¿Esta seguro de eliminar la vuelta?');">
                                                            <i class="ri-edit-2-line"></i> Eliminar
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Antes
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Siguiente
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Sin vueltas ingresadas</p>
                    }
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>


