@model IEnumerable<TransportesMR.Models.ModeloRemolque>
@{
    ViewData["Title"] = "Listado Modelos de Remolque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BARRA SUPERIOR -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Modelos de Remolque</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">@ViewData["Title"]</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <a asp-action="CrearModeloRemolque" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i> Crear Modelo de Remolque</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Buscar...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Count() > 0)
                    {
                        <div class="table-responsive table-card mt-3 mb-1">
                            <table class="table align-middle table-nowrap" id="customerTable">
                                <thead class="table-light">
                                    <tr>

                                        <th class="sort">@Html.DisplayNameFor(a => a.MarcaRemolque.Marca)</th>
                                        <th class="sort">@Html.DisplayNameFor(a => a.Modelo)</th>
                                        <th class="sort">@Html.DisplayNameFor(a => a.Estado)</th>
                                        <th class="sort">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">

                                    @foreach (var modeloRemolque in Model)
                                    {
                                        <tr>
                                            <td>@modeloRemolque.MarcaRemolque.Marca</td>
                                            <td>@modeloRemolque.Modelo</td>
                                            @if (@modeloRemolque.Estado == true)
                                            {
                                                <td>Activo</td>
                                            }
                                            else
                                            {
                                                <td>Deshabilitado</td>
                                            }

                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <a class="btn btn-sm btn-primary edit-item-btn" asp-action="ModificarModeloRemolque"
                                                   asp-route-id="@modeloRemolque.IdModelo">
                                                            <i class="ri-edit-2-line"></i> Modificar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Antes
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Siguiente
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Sin Modelos de Remolque ingresadas</p>
                    }
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
