@model IEnumerable<TransportesMR.Models.Camion>
@{
    ViewData["Title"] = "Lista de Camiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <h3>Lista de Camiones</h3>
    </div>

    <div class="col-3">
        <a asp-action="CrearCamion" class="btn btn-primary form-control">Crear Camion</a>
    </div>
</div>

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr>
            
                <th>@Html.DisplayNameFor(a => a.Patente)</th>
                <th>@Html.DisplayNameFor(a => a.IdCamion)</th>
                <th>@Html.DisplayNameFor(a => a.MarcaVehiculo) </th>
                <th>@Html.DisplayNameFor(a => a.ModeloVehiculo) </th>
                <th>@Html.DisplayNameFor(a => a.Año) </th>
                <th>@Html.DisplayNameFor(a => a.Chasis) </th>
                <th>@Html.DisplayNameFor(a => a.Color) </th>
                <th>@Html.DisplayNameFor(a => a.Cilindrada) </th>
            </tr>

            @foreach (var camion in Model)
            {
                <tr>
                    <td>@camion.Patente</td>
                    <td>@camion.IdCamion</td>
                    <td>@camion.MarcaVehiculo.Marca</td>
                    <td>@camion.ModeloVehiculo.Modelo</td>
                    <td>@camion.Año</td>
                    <td>@camion.Chasis</td>
                    <td>@camion.Color</td>
                    <td>@camion.Cilindrada</td>
                    <td>
                        <a class="btn btn-primary text-white" asp-action="EditarCamion" asp-route-id="@camion.IdVehiculo">Editar</a>
                        <a class="btn btn-danger text-white" asp-action="getBorrar" asp-route-id="@camion.IdVehiculo">Borrar</a>

                    </td>

                </tr>
            }

        </table>
    }
    else
    {
        <p>No hay camiones</p>
    }

</div>

